<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        html {
            overflow: hidden;
        }

        body {
            overflow: hidden;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background: #eaecf5;
        }

        #log {
            background: white;
            margin: 0;
            padding: 0.5em 0.5em 0.5em 0.5em;
            top: 0.5em;
            left: 0.5em;
            right: 0.5em;
            bottom: 3em;
            overflow: auto;
            height: calc(100% - 60px);
        }

        #form {
            padding: 0.5em 0.5em;
            margin: 0;
            bottom: 1em;
            left: 0px;
            width: 100%;
            overflow: hidden;
        }

        .column_left,
        .column_right {
            height: 100vh;
            vertical-align: top;
            display: inline-block;
        }

        .column_left {
            width: 20%;
            overflow: scroll;
        }

        .column_right {
            width: 78%;
        }

        #contacts {
            padding: 0px 10px 10px 10px;

        }


        #contacts .person {
            border-bottom: 0.5px solid lightgray;
            margin: 5px 0px;
            padding: 5px;
        }

        #contacts .person:hover {
            cursor: pointer;
            background-color: #ced7de;
        }

        #contacts .person h3 {
            margin-bottom: 0px;
            margin-top: 5px;
        }

        #popup_new_message {
            position: absolute;
            width: 300px;
            height: 225px;
            background-color: darkgray;
            left: 40%;
            top: 30%;
            text-align: center;
        }

        #popup_new_message input {
            margin-bottom: 10px;
        }

        .bg_popup {
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #send_new_message_button {
            width: 90%;
            height: 30px;
            margin: 10px;
        }

        .chat_right {
            text-align: right;
        }

        .chat_left,
        .chat_right {
            margin-bottom: 15px;
        }

        .my_info {}

        .my_info p,
        .my_info a {
            font-size: 16px;
            font-weight: bold;
            font-family: sans-serif;
            margin: 10px;
        }

        #log .chat_message,
        #log .chat_datetime {
            margin: 5px 0px;
        }

        #log .chat_datetime {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class='bg_popup'>
        <div id='popup_new_message'>
            <p>Enter phone number :</p>
            <input type='text' id="input_new_phone_number"/>
            <p>Enter your message :</p>
            <input type='text' id="input_new_message"/>
            <button id='send_message_now_button'>Send message to this number</button>
            <button id='close_popup'>Cancel</button>
        </div>
    </div>

    <div style='height:100%'>
        <div class='column_left'>
            <div class='my_info'>
                <p><label id='my_name'>User</label> <a href='/login'>(logout)</a></p>
                <p id="my_phone">Phone</p>
            </div>
            <button id='send_new_message_button'>Send New Message</button>
            <div id='contacts'>
                <!-- LIST CONTACT -->
                <!-- Example :  -->
                <!-- <div class='person' room_id="y111" user_id="x123"><h3> Budi </h3></div> -->
            </div>
        </div>
        <div class='column_right'>
            <div id="log">
                <div id="start_last_chat"></div>
                <!-- CHAT LOG -->
                <!-- Example :  -->
                <!-- <div class='chat_left'>
                    <b>Setiawan : </b>
                    <p class='chat_message'>Halo rik</p>
                    <p class='chat_datetime'>12/12/2020 20:20:00</p>
                </div>
                <div class='chat_right'>
                    <b>Me : </b>
                    <p class='chat_message'>Halo juga wan</p>
                    <p class='chat_datetime'>12/12/2020 20:20:00</p>
                </div> -->
                
            </div>
            <form id="form">
                <input type="text" id="msg" style="width: 92%;" autofocus />
                <input type="submit" id="send_chat_button" value="Send" />
            </form>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            //variabel untuk koneksi ke ws
            let conn;

            //variabel yg merepresentasikan last chat id (untuk pagination)
            var lastChatId = "nil";

            //hide popup send new message
            $(".bg_popup").hide();

            //beri event on click untuk membuka popup send new message
            $("#send_new_message_button").click(function () {
                $(".bg_popup").show();
            })

            //beri event on click untuk close popup send new message
            $("#close_popup").click(function () {
                $(".bg_popup").hide();
            })
            
            //variabel untuk menyimpan informasi akun yg didapat dari localstorage
            var access = JSON.parse(localStorage.getItem("access"));

            //kalau isi dari key "access" di localstorage ternyata kosong, maka artinya user belum login
            //jadi redirect user ke halaman login
            if(access == null || (access != null && access["token"] == null)) {
                $(location).attr('href', '/login');
            }

            //isi my name dan my phone dibagian pojok kiri atas
            $("#my_name").html(access["name"])
            $("#my_phone").html(access["phone"])

            //fungsi untuk ngescroll chat log sampe ke bawah
            function scrollChatToBottom() {
                $('#log').scrollTop($('#log').prop("scrollHeight"));
            }

            //fungsi untuk menambahkan pesan chat ke chat log
            function addMessage(insertFromTop, isRight, from, message, scrollToBottom = true) {
                
                if (isRight) { //jika kita yang ngechat
                    if(insertFromTop) {
                        $("<div class='chat_right'><b>" + from +" : </b><p>" + message + "</p></div>").insertAfter("#flag_start_chat");
                    } else {
                        $("#log").append("<div class='chat_right'><b>" + from +" : </b><p>" + message + "</p></div>")
                    }
                } else { //jika orang lain yang ngechat
                    if(insertFromTop) {
                        $("<div class='chat_left'><b>" + from +" : </b><p>" + message + "</p></div>").insertAfter("#flag_start_chat");
                    } else {
                        $("#log").append("<div class='chat_left'><b>" + from +" : </b><p>" + message + "</p></div>")
                    }
                    
                }
                if(scrollToBottom) {
                    scrollChatToBottom();
                }
                
            }

            function clearLogChat() {
                $("#log").empty();
                $("#log").html("<div id=\"flag_start_chat\"></div>")
                
            }

            //fungsi untuk menambahkan tombol "load more" ke chat log
            function addLoadMoreButton() {
                if($("#load_more_chat").length == 0) {
                    $("#log").prepend("<center><button id='load_more_chat'>Load More</button></center>");
                }
                
            }

            //fungsi untuk menghilangkan tombol "load more" ke chat log
            function removeLoadMoreButton() {
                $("#load_more_chat").parent().remove();
            }
            
            //fungsi untuk menambahkan keterangan ke chat log (misal connection closed)
            function appendLog(message) {
                $("#log").append("<center><div><b>" + message + "</b></div></center>");
            }

            //fungsi untuk memberi notifikasi pada kontak tertentu bahwa ada pesan masuk 
            function notifyNewMessage(contact_user_id, withChangeColor = true) {
                var contactElement = $(".person[user_id='" + contact_user_id + "']");

                //jika kontak tersebut belum terdaftar di list bagian kiri, maka
                if(!contactElement.length) {
                    getContact();
                    clearLogChat();
                }

                //beri warna biru sebagai tanda
                if(withChangeColor)
                    contactElement.css("background-color", "#bfdfff");
            }

            // fungsi untuk get semua contact
            function getContact() {
                $.ajax({
                    type: "GET",
                    url: "api/contact",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        if(data == null) {
                            return null;
                        } 
                        $("#contacts").empty();
                        for (var i = 0; i < data.length; i++) {
                            //yang di return dari API itu selalu ada 2 user. Misal user kita adalah A, dan user teman kita adalah B,C,D.
                            //nanti yang direturn dari API kira-kira seperti ini : [{A,B},{C,A},{D,A}]
                            //kita harus cari nama teman kita dulu
                            var tempFriend;
                            if(data[i]['users_info'][0]['_id'] == access['user_id']) {
                                //jika data pertama adalah data diri kita sendiri, maka data teman kita pasti ada di data kedua
                                tempFriend = data[i]['users_info'][1];
                            } else {
                                //kalau data pertama bukan data diri kita sendiri, berarti ya itu data teman kita
                                tempFriend = data[i]['users_info'][0];
                            }
                            var name = tempFriend['name'];
                            var room_id = data[i]['_id'];
                            var user_id = tempFriend['_id'];
                            $("#contacts").append("<div class='person' room_id='" + room_id + "' user_id='" + user_id +"'><h3>" + name + "</h3></div>");
                        }
                    },
                    error: function (data, textStatus) {
                        alert("Error when get contact");
                    }
                });
            }
            
            getContact();

            // fungsi untuk get chat
            function getChat(isPageOne, roomId, name) {
                $.ajax({
                    type: "GET",
                    url: "api/chat/" + roomId + "/" + lastChatId,
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        if(data == null) {
                            removeLoadMoreButton();
                            lastChatId = "nil"
                            return null;
                        }
                        
                        if(data[0]['chat_history'] == null) {
                            removeLoadMoreButton();
                            lastChatId = "nil"
                            return null;
                        } else {
                            data = data[0];

                            var scrollToBottom = true;

                            if(isPageOne) {
                                clearLogChat();
                            } else {
                                scrollToBottom = false;
                            } 
                            if(data['chat_history'].length == 20) { //it indicate that it might have more chat data, so add "load more" button
                            
                                removeLoadMoreButton();
                                
                                addLoadMoreButton();
                                
                                
                                lastChatId = data['chat_history'][19]['_id'];
                            } else { //no need button "load more"
                            
                                removeLoadMoreButton();
                                lastChatId = "nil"
                            }
                            
                            for (var i = 0; i < data['chat_history'].length; i++) {
                                var temp = data['chat_history'][i];
                                if (temp['user_id'] == access['user_id']) {
                                    addMessage(true, true,"Me",temp['message'], scrollToBottom);
                                } else {
                                    addMessage(true, false,name,temp['message'], scrollToBottom);
                                }
                            }
                            // if($("#load_more_chat").length) {
                            //     $("#flag_last_chat").insertAfter("center:has(>#load_more_chat)");
                            // } else {
                            //     $("#flag_last_chat").prependTo("#log");
                            // }
                            
                        }
                    },
                    error: function (data, textStatus) {
                        alert("Error when get history chat");
                    }
                });
            }


            //di setiap contact, dikasi event on click untuk melihat isi chat
            $('body').on("click", ".person", function () {
                var thisElement = $(this);
                var roomId = $(this).attr("room_id");
                var toUserId = $(this).attr("user_id");
                var toUserName = $(this).text();
                $("#send_chat_button").attr("to_user_id",toUserId)
                $("#send_chat_button").attr("to_user_name",toUserName)
                $("#send_chat_button").attr("room_id",roomId)
                thisElement.css('background-color', '');
                getChat(true, roomId, thisElement.text());
            });

            //event pada saat kita klik load more didalam chat
            $('body').on("click", "#load_more_chat", function () {
                var name = $("#send_chat_button").attr("to_user_name");
                var roomId = $("#send_chat_button").attr("room_id");
                getChat(false, roomId, name);
            });


            //event pada saat kita klik send di popup send new message
            $('body').on("click", "#send_message_now_button", function () {
                //input_new_phone_number
                //input_new_message
                var phone = $("#input_new_phone_number").val();
                var message = $("#input_new_message").val();
                var body = {
                    "phone" : phone,
                    "message" : message
                };
                $.ajax({
                    type: "POST",
                    url: "api/new_chat",
                    data: JSON.stringify(body),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        $(".bg_popup").hide();
                    },
                    error: function(data, textStatus) {
                        alert("failed to send new message");
                    }
                });

            });



            //connect to websocket 
            if (window["WebSocket"]) {
                const userId = access['user_id'];
                conn = new WebSocket("ws://" + document.location.host + "/ws/" + userId);
                conn.onclose = function (evt) {
                    appendLog("Connection closed.");
                };
                conn.onmessage = function (evt) {
                    let messages = evt.data.split('\n');
                    for (let i = 0; i < messages.length; i++) {
                        var plainMessage = messages[i];
                        var formattedMessage = JSON.parse(plainMessage);
                        //jika message ws ini memberitahu kita bahwa pesan kita sudah masuk, maka
                        if(formattedMessage['fromUserId'] == access['user_id']) {
                            //jika kita lagi buka chat log
                            if($("#send_chat_button").attr("to_user_id") == formattedMessage["toUserId"]) {
                                addMessage(false, true,"Me",formattedMessage['data']);
                            } else {
                                notifyNewMessage(formattedMessage['fromUserId'], false); //without bg change
                            }
                        } else { //jika ini adalah message ws dari orang lain ke kita (bukan acknowledge)
                            //jika kita lagi buka chat log
                            if($("#send_chat_button").attr("to_user_id") == formattedMessage["fromUserId"]) {
                                addMessage(false, false,$("#send_chat_button").attr("to_user_name"),formattedMessage['data']);
                            } else { //jika kita tidak lagi buka chat log
                                notifyNewMessage(formattedMessage['fromUserId']);
                            }
                        }

                        
                    }
                };
            } else {
                appendLog("Your browser does not support WebSockets.");
            }

            //event pada saat user kirim pesan di chat log
            $('#form').on('submit', function (e) {
                if (!conn) {
                    return false;
                }
                
                // format : {"data" : "bla bla bla" in byte, "fromUserId" : 1, "toUserId" : 2}
                var value = $("#msg").val();
                if(value == null) {
                    return false;
                }

                var sendData = {
                    "data": value,
                    "fromUserId" : access['user_id'],
                    "toUserId" : $("#send_chat_button").attr("to_user_id"),
                    "roomId" : $("#send_chat_button").attr("room_id")
                };
                conn.send(JSON.stringify(sendData));
                $("#msg").val("");
                return false;
            });

        });
    </script>
</body>

</html>