<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        html {
            overflow: hidden;
        }

        body {
            overflow: hidden;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background: #eaecf5;
        }

        #log {
            background: white;
            margin: 0;
            padding: 0.5em 0.5em 0.5em 0.5em;
            top: 0.5em;
            left: 0.5em;
            right: 0.5em;
            bottom: 3em;
            overflow: auto;
            height: calc(100% - 60px);
        }

        #form {
            padding: 0.5em 0.5em;
            margin: 0;
            bottom: 1em;
            left: 0px;
            width: 100%;
            overflow: hidden;
        }

        .column_left,
        .column_right {
            height: 100vh;
            vertical-align: top;
            display: inline-block;
        }

        .column_left {
            width: 20%;
            overflow: scroll;
        }

        .column_right {
            width: 78%;
        }

        #contacts {
            padding: 0px 10px 10px 10px;

        }


        #contacts .person {
            border-bottom: 0.5px solid lightgray;
            margin: 5px 0px;
            padding: 5px;
        }

        #contacts .person:hover {
            cursor: pointer;
            background-color: #ced7de;
        }

        #contacts .person h3 {
            margin-bottom: 0px;
            margin-top: 5px;
        }

        #popup_new_message {
            position: absolute;
            width: 300px;
            height: 225px;
            background-color: darkgray;
            left: 40%;
            top: 30%;
            text-align: center;
        }

        #popup_new_message input {
            margin-bottom: 10px;
        }

        .bg_popup {
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #send_new_message_button {
            width: 90%;
            height: 30px;
            margin: 10px;
        }

        .chat_right {
            text-align: right;
        }

        .chat_left,
        .chat_right {
            margin-bottom: 15px;
        }

        .my_info {}

        .my_info p,
        .my_info a {
            font-size: 16px;
            font-weight: bold;
            font-family: sans-serif;
            margin: 10px;
        }

        #log .chat_message,
        #log .chat_datetime {
            margin: 5px 0px;
        }

        #log .chat_datetime {
            font-size: 12px;
        }
        #logout_button {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class='bg_popup'>
        <div id='popup_new_message'>
            <p>Enter phone number :</p>
            <input type='text' id="input_new_phone_number"/>
            <p>Enter your message :</p>
            <input type='text' id="input_new_message"/>
            <button id='send_message_now_button'>Send message to this number</button>
            <button id='close_popup'>Cancel</button>
        </div>
    </div>

    <div style='height:100%'>
        <div class='column_left'>
            <div class='my_info'>
                <p><label id='my_name'>User</label> <a id='logout_button'>(logout)</a></p>
                <p id="my_phone">Phone</p>
            </div>
            <button id='send_new_message_button'>Send New Message</button>
            <div id='contacts'>
                <!-- LIST CONTACT -->
                <!-- Example :  -->
                <!-- <div class='person' contact_id="y111" user_id="x123"><h3> Budi </h3></div> -->
            </div>
        </div>
        <div class='column_right'>
            <div id="log">
                <div id="start_last_chat"></div>
                <!-- CHAT LOG -->
                <!-- Example :  -->
                <!-- <div class='chat_left'>
                    <b>Setiawan : </b>
                    <p class='chat_message'>Halo rik</p>
                    <p class='chat_datetime'>12/12/2020 20:20:00</p>
                </div>
                <div class='chat_right'>
                    <b>Me : </b>
                    <p class='chat_message'>Halo juga wan</p>
                    <p class='chat_datetime'>12/12/2020 20:20:00</p>
                </div> -->
                
            </div>
            <form id="form">
                <input type="text" id="msg" style="width: 92%;" autofocus />
                <input type="submit" id="send_chat_button" value="Send" />
            </form>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            //variabel to connect to web socket
            let conn;

            //variabel that represent last chat id (this used for pagination)
            var lastChatId = "nil";

            //hide popup send new message
            $(".bg_popup").hide();

            //give event on click that used to open popup send new message
            $("#send_new_message_button").click(function () {
                $(".bg_popup").show();
            })

            //give event on click that used to close popup send new message
            $("#close_popup").click(function () {
                $(".bg_popup").hide();
            })
            
            //variabel that save account information from localstorage
            var access = JSON.parse(localStorage.getItem("access"));

            //if variable "access" is null, then redirect to /login
            if(access == null || (access != null && access["token"] == null)) {
                $(location).attr('href', '/login');
            }


            //put name text and phone text in top right
            $("#my_name").html(access["name"])
            $("#my_phone").html(access["phone"])

            //function that used to scroll until bottom
            function scrollChatToBottom() {
                $('#log').scrollTop($('#log').prop("scrollHeight"));
            }

            //function that used to add message in chat log
            function addMessage(insertFromTop, isRight, from, message, scrollToBottom = true) {
                
                if (isRight) { //if current user send chat
                    if(insertFromTop) {
                        $("<div class='chat_right'><b>" + from +" : </b><p>" + message + "</p></div>").insertAfter("#flag_start_chat");
                    } else {
                        $("#log").append("<div class='chat_right'><b>" + from +" : </b><p>" + message + "</p></div>")
                    }
                } else { //if other people send chat to current user
                    if(insertFromTop) {
                        $("<div class='chat_left'><b>" + from +" : </b><p>" + message + "</p></div>").insertAfter("#flag_start_chat");
                    } else {
                        $("#log").append("<div class='chat_left'><b>" + from +" : </b><p>" + message + "</p></div>")
                    }
                    
                }
                if(scrollToBottom) {
                    scrollChatToBottom();
                }
                
            }

            function clearLogChat() {
                $("#log").empty();
                $("#log").html("<div id=\"flag_start_chat\"></div>")
                
            }

            //function that used to add "load more" button in chat log (pagination)
            function addLoadMoreButton() {
                if($("#load_more_chat").length == 0) {
                    $("#log").prepend("<center><button id='load_more_chat'>Load More</button></center>");
                }
                
            }  

            //function that used to remove "load more" button in chat log
            function removeLoadMoreButton() {
                $("#load_more_chat").parent().remove();
            }

            //function that used to add information in chat log (ex : connection closed)
            function appendLog(message) {
                $("#log").append("<center><div><b>" + message + "</b></div></center>");
            }

            //function that used to give notification to certain contact when there is new message
            function notifyNewMessage(contact_user_id, withChangeColor = true) {
                var contactElement = $(".person[user_id='" + contact_user_id + "']");

                //if that contact is not in left panel, then
                if(!contactElement.length) {
                    getContact();
                    clearLogChat();
                }

                //give blue sign
                if(withChangeColor)
                    contactElement.css("background-color", "#bfdfff");
            }

            //function that used to call API get contact data
            function getContact() {
                $.ajax({
                    type: "GET",
                    url: "api/contact",
                    contentType: "application/json; charset=utf-8",
                    accepts: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        if(data == null) {
                            return null;
                        } 
                        $("#contacts").empty();
                        for (var i = 0; i < data.length; i++) {
                            //yang di return dari API itu selalu ada 2 user. Misal user kita adalah A, dan user teman kita adalah B,C,D.
                            //nanti yang direturn dari API kira-kira seperti ini : [{A,B},{C,A},{D,A}]
                            //kita harus cari nama teman kita dulu
                            var tempFriend;
                            if(data[i]['users_info'][0]['_id'] == access['_id']) {
                                //jika data pertama adalah data diri kita sendiri, maka data teman kita pasti ada di data kedua
                                tempFriend = data[i]['users_info'][1];
                            } else {
                                //kalau data pertama bukan data diri kita sendiri, berarti ya itu data teman kita
                                tempFriend = data[i]['users_info'][0];
                            }
                            var name = tempFriend['name'];
                            var contact_id = data[i]['_id'];
                            var user_id = tempFriend['_id'];
                            $("#contacts").append("<div class='person' contact_id='" + contact_id + "' user_id='" + user_id +"'><h3>" + name + "</h3></div>");
                        }
                    },
                    error: function (data, textStatus) {
                        alert("Error when get contact");
                    }
                });
            }
            
            getContact();

            // function that used to call API get chat data
            function getChat(isPageOne, contactId, name) {
                $.ajax({
                    type: "GET",
                    url: "api/chat/" + contactId + "/" + lastChatId,
                    contentType: "application/json; charset=utf-8",
                    accepts: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        
                        if(data == null) {
                            removeLoadMoreButton();
                            lastChatId = "nil"
                            return null;
                        }

                        var scrollToBottom = true;

                        if(isPageOne) {
                            clearLogChat();
                        } else {
                            scrollToBottom = false;
                        } 
                        if(data.length == 20) { //it indicate that it might have more chat data, so add "load more" button
                        
                            removeLoadMoreButton();
                            
                            addLoadMoreButton();
                            
                            
                            lastChatId = data[19]['_id'];
                        } else { //no need button "load more"
                        
                            removeLoadMoreButton();
                            lastChatId = "nil"
                        }
                        
                        
                        for (var i = 0; i < data.length; i++) {
                            var temp = data[i];
                            
                            if (temp['sender_id'] == access['_id']) {
                                addMessage(true, true,"Me",temp['message'], scrollToBottom);
                            } else {
                                addMessage(true, false,name,temp['message'], scrollToBottom);
                            }
                        }
                            
                            
                        
                    },
                    error: function (data, textStatus) {
                        alert("Error when get history chat");
                    }
                });
            }


            //in every contact, give event on click to see chat log
            $('body').on("click", ".person", function () {
                removeLoadMoreButton();
                lastChatId = "nil"
                var thisElement = $(this);
                var contactId = $(this).attr("contact_id");
                var toUserId = $(this).attr("user_id");
                var toUserName = $(this).text();
                $("#send_chat_button").attr("to_user_id",toUserId)
                $("#send_chat_button").attr("to_user_name",toUserName)
                $("#send_chat_button").attr("contact_id",contactId)
                thisElement.css('background-color', '');
                getChat(true, contactId, thisElement.text());
            });

            //give event when user click "load more" button
            $('body').on("click", "#load_more_chat", function () {
                var name = $("#send_chat_button").attr("to_user_name");
                var contactId = $("#send_chat_button").attr("contact_id");
                getChat(false, contactId, name);
            });

            //give event when user click "send" button in popup send new message
            $('body').on("click", "#send_message_now_button", function () {
                //input_new_phone_number
                //input_new_message
                var phone = $("#input_new_phone_number").val();
                var message = $("#input_new_message").val();
                var body = {
                    "phone" : phone,
                    "message" : message
                };
                $.ajax({
                    type: "POST",
                    url: "api/new_chat",
                    data: JSON.stringify(body),
                    contentType: "application/json; charset=utf-8",
                    accepts: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + access['token']
                    },
                    dataType: "json",
                    success: function (data, textStatus) {
                        $(".bg_popup").hide();
                    },
                    error: function(data, textStatus) {
                        alert("failed to send new message");
                    }
                });

            });

            //connect to websocket 
            if (window["WebSocket"]) {
                const userId = access['_id'];
                var protocol = "ws://";
                if (location.protocol === 'https:') {
                    protocol = "wss://"
                }
                conn = new WebSocket(protocol + document.location.host + "/ws/" + userId + "?access_token=" + access['token']);
                conn.onclose = function (evt) {
                    appendLog("Connection closed.");
                };
                conn.onmessage = function (evt) {
                    let messages = evt.data.split('\n');
                    for (let i = 0; i < messages.length; i++) {
                        var plainMessage = messages[i];
                        var formattedMessage = JSON.parse(plainMessage);
                        //this means, when incoming message is an acknowledge that current user message was sent to receiver, then..
                        if(formattedMessage['fromUserId'] == access['_id']) {
                            //if current user is opening that chat log according to this message
                            if($("#send_chat_button").attr("to_user_id") == formattedMessage["toUserId"]) {
                                addMessage(false, true,"Me",formattedMessage['data']);
                            } else {
                                notifyNewMessage(formattedMessage['fromUserId'], false); //without bg change
                            }
                        } else { //this means, when incoming message is from other people send message to current user
                            //if current user is opening that chat log according to this message
                            if($("#send_chat_button").attr("to_user_id") == formattedMessage["fromUserId"]) {
                                addMessage(false, false,$("#send_chat_button").attr("to_user_name"),formattedMessage['data']);
                            } else { //if current user is NOT opening that chat log according to this message
                                notifyNewMessage(formattedMessage['fromUserId']);
                            }
                        }

                        
                    }
                };
            } else {
                appendLog("Your browser does not support WebSockets.");
            }

            //give event when user send message in chat log
            $('#form').on('submit', function (e) {
                if (!conn) {
                    return false;
                }

                if($("#send_chat_button").attr("contact_id") == null) {
                    $("#msg").val("");
                    return false;
                }
                
                // format : {"data" : "bla bla bla" in byte, "fromUserId" : 1, "toUserId" : 2}
                var value = $("#msg").val();
                if(value == null) {
                    return false;
                }

                var sendData = {
                    "data": value,
                    "fromUserId" : access['_id'],
                    "toUserId" : $("#send_chat_button").attr("to_user_id"),
                    "contactId" : $("#send_chat_button").attr("contact_id")
                };
                conn.send(JSON.stringify(sendData));
                $("#msg").val("");
                return false;
            });

            //give event to "logout" button
            $('body').on("click", "#logout_button", function () {
                localStorage.removeItem('access');
                $(location).attr('href', '/login');
            });

        });
    </script>
</body>

</html>
